@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


@font-face {
    font-family: 'idroid';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor00: #e5ebd6; /*--cor00: #ebe5c5;*/
    --cor01: #83e1ad;
    --cor02: #3ddc84;
    --cor03: #2fa866;
    --cor04: #1a5c37;
    --cor05: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, Sans-Serif;
    --fonte-destaque: 'Bebas Neue', 'cursive';
    --fonte-android: 'idroid', 'cursive';

}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor00);
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: '\00A0\1F517';
}

header {
    text-align: center;
    background-image: linear-gradient(to bottom, var(--cor03), var(--cor05));
    padding-top: 40px;
    min-height: 150px;
}

header > h1 {
    color: #ffffff;
    font-family: var(--fonte-destaque);
    font-weight: normal;
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.238);
}

header > p {
    color: #ffffff;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    margin-bottom: 30px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.34);
}

nav {
    background-color: var(--cor05);
    padding: 10px;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.198);
}

nav > a {
    padding: 10px;
    color: var(--cor01);
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: .5s;
}

nav > a:hover {
    background-color: var(--cor03);
    color: var(--cor05);
    text-decoration: underline;
}

main {
    background-color: #ffffff;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.529);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    color:var(--cor05);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor04);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor01), transparent);
    text-indent: 8px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 10px;
    font-size: 1em;
    line-height: 2em;
}

main strong {
    color: var(--cor04);
    font-weight: bold;
    /*padding: 2px 6px;*/
}

main a {
    color: var(--cor05);
    text-decoration: none;
    font-weight: bold;  
    background-color: var(--cor01);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var()
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video {
    background-color: var(--cor05);
    padding: 20px;
    margin: 0px -20px 30px -20px;
    position: relative;
    padding-bottom: 56.8%;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside {
    background-color: var(--cor01);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.264);
}

aside > h3 {
    background-color: var(--cor04);
    padding: 10px;
    color: #ffffff;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}


aside > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

footer {
    background-color: var(--cor05);
    text-align: center;
    color: #ffffff;
    padding: 5px;
    font-size: 0.8em;
}

footer a {
    color: #ffffff;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor01)
}